<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMH Travel</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        button[disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div id="loading-overlay"></div>
    <div class="container max-w-screen-lg mx-auto py-8 px-4">
        <h1 class="text-3xl font-bold mb-6 text-center">SMH Travel</h1>
        <div class=" w-full flex justify-end pb-4 space-x-4">

            <a href="/history/?key={{ key }}" class="text-blue-500 hover:underline break-words">View history</a>
            <a href="/airlines/?key={{ key }}" class="text-blue-500 hover:underline break-words">View airlines</a>
            <a href="/" class="text-red-500 hover:underline break-words">Logout</a>
        </div>
        {% if files %}
        <div class="bg-white p-6 shadow rounded">
            <form id="upload_form" enctype="multipart/form-data">
                <label class="block mb-2 font-bold">Add more tickets</label>
                <input type="file" name="files" id="file_input" multiple class="block mb-4">
                <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Upload</button>
            </form>
        </div>
        <br />
        <!-- Global Inputs -->
        <div class="mb-6 bg-white p-6 shadow rounded">
            <h2 class="text-lg font-bold mb-4">For all tickets below</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                <input id="global_base_price" type="text" placeholder="Base Price" class="border p-2 rounded">
                <input id="global_airport_tax" type="text" placeholder="Airport Tax" class="border p-2 rounded">
                <input id="global_service_tax" type="text" placeholder="Service Tax" class="border p-2 rounded">
                <input id="global_total_price" type="text" placeholder="Total price" class="border p-2 rounded">

                <select hidden id="global_template" class="border p-2 rounded">
                    <option value="">Choose template</option>
                    {% for template in templates %}
                    <option value="{{ template }}">{{ template }}</option>
                    {% endfor %}
                </select>
                <select id="global_airlines" class="border p-2 rounded"> // sort
                    <option value="">Choose airline</option>
                    {% for airline in airlines %}
                    <option value="{{ airline }}">{{ airline }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Actions -->
            <div class="mt-6 flex flex-wrap gap-4">
                <button id="clear_all" class="bg-red-500 text-white px-4 py-2 rounded">Remove All Files</button>
                <button id="discard_all" class="bg-red-500 text-white px-4 py-2 rounded">Discard all</button>
                <button id="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Generate all</button>
                <button id="download_all" class="bg-green-500 text-white px-4 py-2 rounded">Download all</button>
            </div>
        </div>

        <!-- File List -->
        <ul>
            {% for file in files %}
            <li class="mb-6 bg-white p-6 shadow rounded">
                <div class="mb-2">
                    <strong>
                        <a href="/upload-preview/?file={{ file.0 }}" target="_blank"
                            class="text-blue-500 hover:underline break-words">
                            {{ file.0 }}
                        </a>
                    </strong>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 gap-4">
                    <input type="text" id="{{file.0}}-base-price" placeholder="Base Price"
                        class="border p-2 rounded file-base-price">
                    <input type="text" id="{{file.0}}-airport-tax" placeholder="Airport Tax"
                        class="border p-2 rounded file-airport-tax">
                    <input type="text" id="{{file.0}}-service-tax" placeholder="Service Tax"
                        class="border p-2 rounded file-service-tax">
                    <input type="text" id="{{file.0}}-total-price" placeholder="Total Price"
                        class="border p-2 rounded file-total-price">
                    <input type="text" id="{{file.0}}-passport" placeholder="Passport"
                        class="border p-2 rounded file-passport">
                    <input type="text" id="{{file.0}}-dob" placeholder="Date of birth"
                        class="border p-2 rounded file-dob">
                    <input type="text" id="{{file.0}}-Traveler" placeholder="Traveler"
                        class="border p-2 rounded file-Traveler">
                    <input type="text" id="{{file.0}}-status" placeholder="status"
                        class="border p-2 rounded file-status">
                    <input type="text" id="{{file.0}}-Flight-No" placeholder="Flight-No"
                        class="border p-2 rounded file-Flight-No">
                    <input type="text" id="{{file.0}}-Depart" placeholder="Depart"
                        class="border p-2 rounded file-Depart">
                    <input type="text" id="{{file.0}}-Arrive" placeholder="Arrive"
                        class="border p-2 rounded file-Arrive">
                        <input type="text" id="{{file.0}}-Cabin" placeholder="Cabin" class="border p-2 rounded file-Cabin">
                        <input type="text" id="{{file.0}}-stop" placeholder="Stop" class="border p-2 rounded file-stop">
                    <input type="text" id="{{file.0}}-Date" placeholder="Date" class="border p-2 rounded file-Date">
                    <input type="text" id="{{file.0}}-Time" placeholder="Time" class="border p-2 rounded file-Time">
                    <input type="text" id="{{file.0}}-Airline-PNR" placeholder="Airline PNR"
                        class="border p-2 rounded file-Airline-PNR">
                    <input type="text" id="{{file.0}}-ticket-number" placeholder="E ticket number"
                        class="border p-2 rounded file-ticket-number">
                    <input type="text" id="{{file.0}}-Baggage" placeholder="Baggage"
                        class="border p-2 rounded file-Baggage">
                    <input type="text" id="{{file.0}}-departure_terminal" placeholder="departure_terminal"
                        class="border p-2 rounded file-departure_terminal">
                    <div>

                        <input type="checkbox" id="{{file.0}}-isReturnTrip" data-file="{{file.0}}"
                            class="file-isReturnTrip">
                        <label for="{{file.0}}-isReturnTrip">Is Return Trip?</label>
                    </div>
                    <input type="text" id="{{file.0}}-flight_no2" placeholder="return flight_no"
                        class="border p-2 rounded file-flight_no2 return-field" />
                    <input type="text" id="{{file.0}}-cabin2" placeholder="return cabin"
                        class="border p-2 rounded file-cabin2 return-field" />
                    <input type="text" id="{{file.0}}-stop2" placeholder="return stop"
                        class="border p-2 rounded file-stop2 return-field" />
                    <input type="text" id="{{file.0}}-airline_pnr2" placeholder="return airline_pnr"
                        class="border p-2 rounded file-airline_pnr2 return-field" />
                    <input type="text" id="{{file.0}}-ticket_no2" placeholder="return ticket_no"
                        class="border p-2 rounded file-ticket_no2 return-field" />
                    <input type="text" id="{{file.0}}-depart2" placeholder="return depart"
                        class="border p-2 rounded file-depart2 return-field" />
                    <input type="text" id="{{file.0}}-arrive2" placeholder="return arrive"
                        class="border p-2 rounded file-arrive2 return-field" />
                    <input type="text" id="{{file.0}}-date2" placeholder="return date"
                        class="border p-2 rounded file-date2 return-field" />
                    <input type="text" id="{{file.0}}-time2" placeholder="return time"
                        class="border p-2 rounded file-time2 return-field" />
                    <input type="text" id="{{file.0}}-baggage2" placeholder="return baggage"
                        class="border p-2 rounded file-baggage2 return-field" />
                    <input type="text" id="{{file.0}}-departure_terminal2" placeholder="return departure_terminal"
                        class="border p-2 rounded file-departure_terminal2 return-field" />

                    <select hidden id="{{file.0}}-file-template" class="border p-2 rounded file-template">
                        <option value="">Choose template</option>
                        {% for template in templates %}
                        <option value="{{ template }}">{{ template }}</option>
                        {% endfor %}
                    </select>
                    <select id="{{file.0}}-file-airlines" class="border p-2 rounded file-airlines">
                        <option value="">Choose airline</option>
                        {% for airline in airlines %}
                        <option value="{{ airline }}">{{ airline }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" hidden class="file-old-name" value="{{ file.0 }}">
                    {% if file.1 %}
                    <input type="text" hidden class="file-new-name" value="{{ file.1 }}">
                    <a href="/output-preview/?file={{ file.1 }}" class="block">
                        <button class="bg-green-500 text-white px-4 py-2 rounded w-full"
                            data-file="{{ file.0 }}">Download new</button>
                    </a>
                    <button class="bg-red-500 text-white px-4 py-2 rounded w-full file-new-discard"
                        data-file="{{ file.1 }}">Discard</button>
                    {% else %}
                    <button class="bg-blue-500 text-white px-4 py-2 rounded w-full file-new-generate"
                        data-file="{{ file.0 }}">Generate</button>
                    {% endif %}
                    <button class="bg-red-500 text-white px-4 py-2 rounded w-full file-old-clear"
                        data-file="{{ file.0 }}">Remove</button>
                </div>
            </li>
            {% endfor %}

        </ul>

        {% else %}
        <!-- Upload Form -->
        <div class="bg-white p-6 shadow rounded">
            <form id="upload_form" enctype="multipart/form-data">
                <label class="block mb-2 font-bold">Upload PDF Files</label>
                <input type="file" name="files" id="file_input" multiple class="block mb-4">
                <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Upload</button>
            </form>
        </div>
        {% endif %}
    </div>

    <script>
        // Function to listen to all inputs and save their values in localStorage
        function saveInputsToLocalStorage() {
            const inputs = document.querySelectorAll('input, select, textarea');
            inputs.forEach((input) => {
                if (input.type !== 'file') {


                    input.addEventListener('input', () => {
                        const inputData = {};
                        inputs.forEach((el) => {
                            inputData[el.name || el.id] = el.value;
                        });
                        localStorage.setItem('formData', JSON.stringify(inputData));
                    });
                }
            });
        }

        // Function to read from localStorage and set input values in the document
        function loadInputsFromLocalStorage() {
            const formData = JSON.parse(localStorage.getItem('formData'));
            if (!formData) return;

            const inputs = document.querySelectorAll('input, select, textarea');

            inputs.forEach((input) => {
                if (input.type !== 'file') {
                    const key = input.name || input.id;
                    if (formData[key] !== undefined) {
                        input.value = formData[key];
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            loadInputsFromLocalStorage();
            saveInputsToLocalStorage();
        });

        const setLoadingState = (isLoading) => {
            // Select all inputs and buttons
            const inputs = document.querySelectorAll('input, button, select, textarea');

            // Disable or enable them based on the loading state
            inputs.forEach((input) => {
                input.disabled = isLoading;
            });

            // Optionally, show or hide a loading indicator
            let loadingOverlay = document.getElementById('loading-overlay');
            if (isLoading) {
                if (!loadingOverlay) {
                    // Create a loading overlay if it doesn't exist
                    loadingOverlay = document.createElement('div');
                    loadingOverlay.id = 'loading-overlay';
                    loadingOverlay.innerHTML = `
        <div class="fixed inset-0 bg-gray-700 bg-opacity-50 flex items-center justify-center z-50">
          <div class="text-white text-lg font-bold">Loading...</div>
        </div>
      `;
                    document.body.appendChild(loadingOverlay);
                }
                loadingOverlay.style.display = 'flex'; // Show overlay
            } else if (loadingOverlay) {
                loadingOverlay.style.display = 'none'; // Hide overlay
            }
        }

        const showLoading = () => setLoadingState(true);
        const hideLoading = () => setLoadingState(false);

        // Handle File Upload
        const uploadForm = document.getElementById('upload_form');
        if (uploadForm) {
            uploadForm.addEventListener('submit', async (e) => {
                e.preventDefault();
                const formData = new FormData();
                const files = document.getElementById('file_input').files;
                for (let file of files) {
                    formData.append('files', file);
                }
                try {
                    showLoading()
                    await axios.post('/upload-files/', formData, { headers: { 'Content-Type': 'multipart/form-data' } });
                    window.location.reload();
                } catch (err) {
                    console.error(err);
                    hideLoading()
                }
            });
        }

        // Handle Clear All Files
        const clearAllButton = document.getElementById('clear_all');
        if (clearAllButton) {
            clearAllButton.addEventListener('click', async () => {
                try {
                    showLoading()

                    await axios.delete('/upload-clear/');
                    await axios.delete('/output-discard/');
                    window.location.reload();
                } catch (err) {
                    console.error(err);
                    hideLoading()
                }
            });
        }
        const discard_all = document.getElementById('discard_all');
        if (discard_all) {
            discard_all.addEventListener('click', async () => {
                try {
                    showLoading()
                    await axios.delete('/output-discard/');
                    window.location.reload();
                } catch (err) {
                    console.error(err);
                    hideLoading()
                }
            });
        }
        const download_all = document.getElementById('download_all');
        if (download_all) {
            download_all.addEventListener('click', async () => {
                window.open('/output-preview/', '_blank');
            });
        }

        // Handle Global Input Changes
        const globalBasePrice = document.getElementById('global_base_price');
        const globalAirportTax = document.getElementById('global_airport_tax');
        const globalServiceTax = document.getElementById('global_service_tax');
        const globalTotalPrice = document.getElementById('global_total_price');
        const globalTemplate = document.getElementById('global_template');
        const globalAirlines = document.getElementById('global_airlines');

        const updateFileInputs = () => {
            const fileBasePrices = document.querySelectorAll('.file-base-price');
            const fileAirportTaxes = document.querySelectorAll('.file-airport-tax');
            const fileServiceTaxes = document.querySelectorAll('.file-service-tax');
            const fileTotalPrice = document.querySelectorAll('.file-total-price');
            const fileTemplates = document.querySelectorAll('.file-template');
            const fileAirlines = document.querySelectorAll('.file-airlines');

            fileBasePrices.forEach(input => input.value = globalBasePrice.value);
            fileAirportTaxes.forEach(input => input.value = globalAirportTax.value);
            fileServiceTaxes.forEach(input => input.value = globalServiceTax.value);
            fileTotalPrice.forEach(input => input.value = globalTotalPrice.value);
            fileTemplates.forEach(select => select.value = globalTemplate.value);
            fileAirlines.forEach(select => select.value = globalAirlines.value);
        };

        [globalBasePrice, globalAirportTax, globalServiceTax, globalTemplate, globalTotalPrice, globalAirlines].forEach(input => {
            input.addEventListener('input', updateFileInputs);
        });

        // Handle Submit
        const submitButton = document.getElementById('submit');
        if (submitButton) {

            document.querySelectorAll(`.return-field`).forEach(field => {
                field.style.display = 'none'; // Hide return fields initially
            });
            Array.from(document.getElementsByClassName("file-isReturnTrip")).forEach((checkbox) => {
                checkbox.addEventListener("change", function () {
                    const fileId = this.dataset.file;
                    const isReturnTrip = this.checked;

                    const returnFields = document.querySelectorAll(`.return-field`);
                    returnFields.forEach(field => {
                        if (field.id.startsWith(fileId)) {
                            field.style.display = isReturnTrip ? 'block' : 'none';
                        }
                    });

                    if (!isReturnTrip) {
                        returnFields.forEach(field => {
                            if (field.id.startsWith(fileId)) {
                                field.value = '';
                            }
                        });
                    }
                });
            });

            const clearfiles = Array.from(document.getElementsByClassName('file-old-clear'));
            clearfiles.forEach((clear) => {
                clear.addEventListener('click', async () => {
                    try {
                        showLoading()

                        await axios.delete('/upload-clear/?file=' + clear.dataset.file);
                        window.location.reload();
                    } catch (err) {
                        console.error(err);
                        hideLoading()
                    }
                });

            })
            const discardoutputs = Array.from(document.getElementsByClassName('file-new-discard'));
            discardoutputs.forEach((discard) => {

                discard.addEventListener('click', async () => {
                    try {
                        showLoading()

                        await axios.delete('/output-discard/?file=' + discard.dataset.file);
                        window.location.reload();
                    } catch (err) {
                        console.error(err);
                        hideLoading()
                    }
                });
            })
            const genoutputs = Array.from(document.getElementsByClassName('file-new-generate'));
            genoutputs.forEach((generate) => {
                generate.addEventListener('click', async () => {
                    try {
                        showLoading()

                        await axios.post(`/upload-process/?file=` + generate.dataset.file, {
                            base_price: document.getElementById(`${generate.dataset.file}-base-price`).value,
                            airport_tax: document.getElementById(`${generate.dataset.file}-airport-tax`).value,
                            service_tax: document.getElementById(`${generate.dataset.file}-service-tax`).value,
                            total_price: document.getElementById(`${generate.dataset.file}-total-price`).value,
                            airline: document.getElementById(`${generate.dataset.file}-file-airlines`).value,
                            passport: document.getElementById(`${generate.dataset.file}-passport`).value,
                            dob: document.getElementById(`${generate.dataset.file}-dob`).value,
                            traveler: document.getElementById(`${generate.dataset.file}-Traveler`).value,
                            status: document.getElementById(`${generate.dataset.file}-status`).value,
                            flight_no: document.getElementById(`${generate.dataset.file}-Flight-No`).value,
                            depart: document.getElementById(`${generate.dataset.file}-Depart`).value,
                            arrive: document.getElementById(`${generate.dataset.file}-Arrive`).value,
                            cabin: document.getElementById(`${generate.dataset.file}-Cabin`).value,
                            stop: document.getElementById(`${generate.dataset.file}-stop`).value,
                            date: document.getElementById(`${generate.dataset.file}-Date`).value,
                            time: document.getElementById(`${generate.dataset.file}-Time`).value,
                            airline_pnr: document.getElementById(`${generate.dataset.file}-Airline-PNR`).value,
                            ticket_no: document.getElementById(`${generate.dataset.file}-ticket-number`).value,
                            baggage: document.getElementById(`${generate.dataset.file}-Baggage`).value,
                            departure_terminal: document.getElementById(`${generate.dataset.file}-departure_terminal`).value,
                            isReturnTrip: document.getElementById(`${generate.dataset.file}-isReturnTrip`).checked,
                            flight_no2: document.getElementById(`${generate.dataset.file}-flight_no2`).value,
                            cabin2: document.getElementById(`${generate.dataset.file}-cabin2`).value,
                            stop2: document.getElementById(`${generate.dataset.file}-stop2`).value,
                            airline_pnr2: document.getElementById(`${generate.dataset.file}-airline_pnr2`).value,
                            ticket_no2: document.getElementById(`${generate.dataset.file}-ticket_no2`).value,
                            depart2: document.getElementById(`${generate.dataset.file}-depart2`).value,
                            arrive2: document.getElementById(`${generate.dataset.file}-arrive2`).value,
                            date2: document.getElementById(`${generate.dataset.file}-date2`).value,
                            time2: document.getElementById(`${generate.dataset.file}-time2`).value,
                            baggage2: document.getElementById(`${generate.dataset.file}-baggage2`).value,
                            departure_terminal2: document.getElementById(`${generate.dataset.file}-departure_terminal2`).value,

                        });
                        window.location.reload();
                    } catch (err) {
                        console.error(err);
                        hideLoading()
                    }
                });
            });

            submitButton.addEventListener('click', async () => {
                const files = document.querySelectorAll('li');

                const data = Array.from(files).map((file) => ({
                    name: file.querySelector('a').innerText,
                    base_price: file.querySelector('.file-base-price').value,
                    airport_tax: file.querySelector('.file-airport-tax').value,
                    service_tax: file.querySelector('.file-service-tax').value,
                    total_price: file.querySelector('.file-total-price').value,
                    template: file.querySelector('.file-template').value,
                    airline: file.querySelector('.file-airlines').value,
                    dob: file.querySelector('.file-dob').value,
                    traveler: file.querySelector(`.file-Traveler`).value,
                    status: file.querySelector(`.file-status`).value,
                    flight_no: file.querySelector(`.file-Flight-No`).value,
                    depart: file.querySelector(`.file-Depart`).value,
                    arrive: file.querySelector(`.file-Arrive`).value,
                    cabin: file.querySelector(`.file-Cabin`).value,
                    stop: file.querySelector(`.file-stop`).value,
                    date: file.querySelector(`.file-Date`).value,
                    time: file.querySelector(`.file-Time`).value,
                    airline_pnr: file.querySelector(`.file-Airline-PNR`).value,
                    ticket_no: file.querySelector(`.file-ticket-number`).value,
                    baggage: file.querySelector(`.file-Baggage`).value,
                    departure_terminal: file.querySelector(`.file-departure_terminal`).value,
                    isReturnTrip: file.querySelector(`.file-isReturnTrip`).checked,
                    flight_no2: file.querySelector(`.file-flight_no2`).value,
                    cabin2: file.querySelector(`.file-cabin2`).value,
                    stop2: file.querySelector(`.file-stop2`).value,
                    airline_pnr2: file.querySelector(`.file-airline_pnr2`).value,
                    ticket_no2: file.querySelector(`.file-ticket_no2`).value,
                    depart2: file.querySelector(`.file-depart2`).value,
                    arrive2: file.querySelector(`.file-arrive2`).value,
                    date2: file.querySelector(`.file-date2`).value,
                    time2: file.querySelector(`.file-time2`).value,
                    baggage2: file.querySelector(`.file-baggage2`).value,
                    departure_terminal2: file.querySelector(`.file-departure_terminal2`).value,
                }));


                try {
                    showLoading()
                    await axios.post('/upload-process/', data);
                    window.location.reload();
                } catch (err) {
                    console.error(err);
                    hideLoading()
                }
            });
        }
    </script>
</body>

</html>